@import url(reset.css);

.sidebar {
    padding-top: 60px;
    box-shadow: 0 1px 3px 1px var(--main-color);
    text-align: center;
    height: 100vh;
    width: 240px;
}

.fa-angle-double-left {
    color: var(--main-color);
    position: fixed;
    z-index: 1;
    top: 48vh;
    font-size: x-large;
    animation: flicker 2s ease-in-out infinite;
    cursor: pointer;
    transition: all 1s;
    left: 250px;
}

.fa-angle-double-left.show {
}

.fa-angle-double-left.hide {
    transform: rotate(180deg);
}

@keyframes flicker {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.7;
    }
}

.sidebar-nav {
    width: 100%;
    font-size: larger;
}

.sidebar-nav-item-title {
    cursor: pointer;
    margin: 20px 0 0 0;
}

.sidebar-nav-item-title .fas {
    margin-left: 5px;
}

.sidebar-nav-item-title .fas.hide {
    transform: rotate(180deg);
}

.sidebar-nav-items {
    transition: all 3s;
}

.sidebar-nav-items.hide {
    display: none;
}

.setting {
    width: 240px;
    position: fixed;
    bottom: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: large;
    text-align: center;
}