@import url(color.css);
@import url(reset.css);

.footer {
    width: 100%;
    height: 100%;
    background-color: var(--blue-black);
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 5vw;
    align-items: center;
}

.copyright {
    grid-column: 1;
    color: var(--gray);
    justify-self: end;
}

.logo {
    grid-column: 2;
    height: 50vh;
    justify-self: center;
}

.buttons {
    grid-column: 3;
    justify-self: start;
}

.git {
    cursor: pointer;
}