@charset "utf-8";
@import url(reset.css);

/* header 부분 */
#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    /*height: 60px;*/
    /*line-height: 60px;*/
    height: 6%;
    line-height: 2.1;
    border: 1px solid #000;
}

#header-title {
    position: absolute;
    font-size: 26px;
    left: 20px;
}

#header-title:hover,
#header-title:active {
    transition: all 0.5s;
    transform: scale(1.05);
}

#header-nav {
    /*position: absolute;*/
    /*right: 20px;*/
    float: right;
    display: inline-block;
    margin-right: 20px;
}

#header-nav > li {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    width: 90px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 7px;
}

#header-nav li:after {
    display: block;
    content: "";
    clear: both;
}

#header-nav > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

#header-nav > li:hover > a,
#header-nav > li:active > a {
    transition: all 0.5s;
    transform: scale(1.05);
}