@import url(reset.css);

.header {
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 10px;
}

.header-title {
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
}

.header-title:hover,
.header-title:active,
.header-login-button:hover,
.header-login-button:active,
.header-user-info:hover,
.login-button:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.header-search {
    width: 300px;
    float: right;
    margin-top: 3px;
    margin-right: 20px;
    font-size: large;
    border-radius: 10px;
    border: 1px solid;
}

.header-search.focus {
    box-shadow: 1px 1px 2px 1px var(--main-color);
}

.header-search-icon {
    font-size: larger;
    cursor: pointer;
}

.header-search-icon:hover {
    color: var(--main-color);
}

.header-search-input {
    width: 250px;
}

.header-nav {
    float: right;
    display: inline-block;
    margin-right: 20px;
}

.header-nav-item {
    float: left;
    margin-left: 30px;
    font-size: 24px;
    text-align: center;
}

.header-nav-item:hover {
    text-shadow: 2px 2px 3px var(--main-color);
}

.header-login-button {
    width: 200px;
    float: right;
    text-align: center;
    cursor: pointer;
}

.header-user-info {
    width: 200px;
    float: right;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
}

.header-login-button.hide, .header-user-info.hide, .user-container.hide, .fa-angle-down.hide, .fa-angle-up.hide {
    display: none;
}

.header-login-button-icon {
    margin-top: 3px;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
}

.header-login-text {
    display: inline-block;
    vertical-align: middle;
}

.logout{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.logout:hover,
.logout:active{
    font-weight: bold;
}

.aside-userInfo-details-blogs > li{
    width: 100%;
    height: 50px;
    /*border: 1px solid #000;*/
    cursor: pointer;
}
.aside-userInfo-details-blogs > li:hover,
.aside-userInfo-details-blogs > li:active{
    background: #ccc;
}
.aside-userInfo-details-blogs > li > .fa-user-circle{
    float: left;
    font-size: 30px;
    margin: 10px 0 0 10px;
}
.aside-userInfo-details-title{
    display: block;
    margin: 2px 0 0 45px;
    font-size: 16px;
}
.aside-userInfo-details-type{
    display: inline-block;
    margin-left: 6px;
    font-size: 13px;
}
.aside-userInfo-details-mypage{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}
.aside-userInfo-details-mypage:hover,
.aside-userInfo-details-mypage:active{
    font-weight: bold;
}