@import url(color.css);
@import url(reset.css);

body {
    height: 0;
    background-color: var(--gray-white);
}

.main-container {
    width: 100%;
    margin-top: 15vh;
}

.issue-header {
    position: relative;
    text-align: center;
    padding-top: 5vh;
}

.issue-icon {
    font-size: xxx-large;
    color: var(--blue-gray-white)
}

.issue-tag {
    font-size: large;
    margin-top: 2vh;
}

.issue-title {
    font-size: 2vw;
    color: var(--light-blue-black)
}

.issue-category, .issue-active {
    display: inline-block;
    border-radius: 1vw;
    color: white;
    padding: 1vh;
    width: 5vw;
    text-align: center;
}

.notice {
    background-color: var(--warning);
}

.question {
    background-color: var(--very-light-blue);
}

.chat {
    background-color: var(--very-light-orange);
}

.request {
    background-color: var(--dark-moderate-orenge);
}

.close {
    background-color: var(--light-dark-sky);
}

.open {
    border: 1px solid var(--dark-blue);
    color: black;
}

.list {
    width: 70vw;
    margin: 5vh auto 10vh auto;
    border-radius: 5px;
    font-size: larger;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

.issue-content, .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.writer-img {
    height: 10vh;
    border-radius: 50%;
}

.small-triangle {
    width: 2vw;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
}

.content {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 1vw;
    box-sizing: border-box;
}

.date {
    text-align: right;
    font-size: medium;
    margin-top: 1vh;
}

.comment {
    margin-top: 4vh;
}

.comment-divider {
    margin-top: 4vh;
    border-bottom: 1px solid;
}

.comment-input {
    width: 100%;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    font-size: large;
    padding: 1vw;
    outline: none;
    box-sizing: border-box;
}

.comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}

.comment-save-button {
    margin-top: 1vh;
    float: right;
    width: 5vw;
    line-height: 5vh;
    vertical-align: middle;
    border-radius: 5px;
    background-color: var(--sky);
    color: white;
    text-align: center;
}