@charset "utf-8";
@import url(reset.css);

.main-section {
    margin: 40px 0 0 5%;
    width: 90%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 var(--main-color);
}

.main-section-title {
    font-size: x-large;
    text-align: center;
    line-height: 60px;
    border-bottom-style: solid;
    border-image: linear-gradient(var(--main-color), white) 50;
}

.main-section-item {
    height: 100px;
    box-sizing: border-box;
    padding: 0 2% 0 2%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    border-bottom-style: solid;
    border-image: linear-gradient(var(--main-color), white) 50;
}

.main-section-item-writer {
    font-size: xxx-large;
    align-self: center;
    justify-self: center;
}

.main-section-item-contents {
    display: grid;
    grid-template-columns: 1fr;
}

.main-section-item-title {
    align-self: center;
}

.main-section-item-label {
    width: 100px;
    text-align: center;
    font-size: larger;
    align-self: center;
    justify-self: center;
    border: solid 1px var(--main-color);
    border-radius: 20px;
}

.main-section-item-comment {
    font-size: x-large;
    align-self: center;
    justify-self: center;
}


.main-section-item-more {
    font-size: larger;
    text-align: center;
}