@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(aside.css);

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1903px;
}

/* main 부분 */
#main {
    position: relative;
    z-index: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 70px 100px;
    margin-top: 60px;
    transition: all 1s;
    overflow: auto;
}

#main.reduce {
    width: 88%;
    left: 12%;
}

#main.increase {
    width: 100%;
    left: 0;
    padding: 70px 150px;
}

.main-visual {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.postView {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 var(--main-color);
}

.postView-title {
    font-size: 24px;
}

.postView-bar {
    display: block;
    border: 1px solid #aaaaaa;
    margin: 10px 0;
    width: 35%;
}

.postView-lists {
}

.postView-lists-contents {
    position: relative;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 2fr;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
}

.postView-lists-contents:after{
    grid-column: 1/4;
    content: '';
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--main-color);
}

.postView-lists-contents-title {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
}

.postView-lists-contents-date {
    margin: 10px 0;
    font-size: 16px;
    text-align: right;
}

.postView-lists-contents-text {
    grid-column: 1/3;
    margin-bottom: 30px;
    font-size: 14px;
    overflow: hidden;
}

.postView-lists-contents:hover > .postView-lists-contents-barTop,
.postView-lists-contents:active > .postView-lists-contents-barTop{
    animation: barTop 2s ease-in-out 0s infinite forwards;
}
.postView-lists-contents:hover > .postView-lists-contents-barLeft,
.postView-lists-contents:active > .postView-lists-contents-barLeft{
    animation: barLeft 2s ease-in-out 0s infinite forwards;
}
.postView-lists-contents:hover > .postView-lists-contents-barRight,
.postView-lists-contents:active > .postView-lists-contents-barRight{
    animation: barRight 2s ease-in-out 0s infinite forwards;
}
.postView-lists-contents:hover > .postView-lists-contents-barBottom,
.postView-lists-contents:active > .postView-lists-contents-barBottom{
    animation: barBottom 2s ease-in-out 0s infinite forwards;
}

.postView-lists-contents-bar{
    position: absolute;
    display: block;
    background: var(--main-color);
}

.postView-lists-contents-barTop{
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
}

.postView-lists-contents-barLeft{
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
}

.postView-lists-contents-barRight{
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
}

.postView-lists-contents-barBottom{
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
}

@keyframes barTop{
    0%{width: 0;}
    20%{width: 100%;}
    40%{width: 100%;}
    60%{width: 100%;}
    80%{width: 100%;}
    100%{width: 0;}
}
@keyframes barLeft{
    0%{height: 0;}
    20%{height: 100%;}
    40%{height: 100%;}
    60%{height: 100%;}
    80%{height: 100%;}
    100%{height: 0;}
}
@keyframes barRight{
    0%{height: 0;}
    20%{height: 0;}
    40%{height: 100%;}
    60%{height: 100%;}
    80%{height: 0;}
    100%{height: 0;}
}
@keyframes barBottom{
    0%{width: 0;}
    20%{width: 0;}
    40%{width: 100%;}
    60%{width: 100%;}
    80%{width: 0;}
    100%{width: 0;}
}