@charset "utf-8";
@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    margin: 15vh auto;
    width: 70%;
}

.main-container-header {
    position: relative;
}

.title {
    font-size: xx-large;
    text-align: center;
}

.writer {
    float: right;
    font-size: x-large;
    margin: 3vh auto;
}

.main-container-header:after {
    display: block;
    content: '';
    clear: both;
}

.editor-container {
    position: relative;
    padding: 5vh;
    background-color: var(--white);
}

.hashtags {
    display: block;
    margin-top: 5vh;
}

.hashtags-item {
    float: left;
    padding: 1vh 1vw;
    border-radius: 10px;
    margin-right: 1vw;
    background-color: var(--white);
}

.hashtags:after {
    display: block;
    content: '';
    clear: both;
}

.comment-divider {
    margin-top: 5vh;
    border-top: 1px solid;
}

.comment-list {
    margin: 5vh auto 10vh auto;
    font-size: larger;
    box-sizing: border-box;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4vh;
}

.writer-img {
    height: 10vh;
    border-radius: 50%;
}

.small-triangle {
    width: 2vw;
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
}

.content {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 1vw;
    box-sizing: border-box;
}

.date {
    text-align: right;
    font-size: medium;
    margin-top: 1vh;
}

.comment-input {
    width: 100%;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    font-size: large;
    padding: 1vw;
    outline: none;
    box-sizing: border-box;
}

.comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}

.comment-save-button {
    margin-top: 1vh;
    float: right;
    width: 5vw;
    line-height: 5vh;
    vertical-align: middle;
    border-radius: 5px;
    background-color: var(--sky);
    color: white;
    text-align: center;
    cursor: pointer;
}


.page-control {
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.prev-page,
.next-page {
    position: relative;
    display: inline-block;
    font-size: large;
    padding: 2vh 2vw;
    border: 1px solid var(--gray);
    transition: all 0.3s;
    cursor: pointer;
}

.prev-page {
    float: left;
}

.prev-page:hover {
    background-color: rgba(var(--light-pink-rgb), 0.5);
    color: var(--white);
}

.next-page:hover {
    background-color: rgba(var(--very-light-blue-rgb), 0.5);
    color: var(--white);
}

.next-page {
    float: right;
}

.page-control:after {
    display: block;
    content: '';
    clear: both;
}