@import url(color.css);
@import url(renew_reset.css);

.header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 7vh;
    background-color: var(--blue-black);
    transition: all 0.5s;
    color: #ffffff;
}

.header-menu {
    position: absolute;
    display: block;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-menu-bars {
    float: left;
    display: block;
}

.header-menu-bar {
    display: block;
    /*float: left;*/
    width: 30px;
    height: 3px;
    background-color: var(--white);
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-menu-bar:last-child {
    margin-bottom: 0;
}

.header-menu:hover {
    animation: menu-hover ;
}

/* menu hover function */
.header-menu:hover .header-menu-bar:nth-child(1),
.header-menu:hover .header-menu-bar:nth-child(3) {
    width: 20px;
}

.header-menu:hover .header-menu-bar:nth-child(1) {
    -webkit-transform: translateX(10px) rotate(45deg);
    -ms-transform: translateX(10px) rotate(45deg);
    -o-transform: translateX(10px) rotate(45deg);
    transform: translateX(12px) rotate(45deg);
}

.header-menu:hover .header-menu-bar:nth-child(3) {
    -webkit-transform: translateX(10px) rotate(-45deg);
    -ms-transform: translateX(10px) rotate(-45deg);
    -o-transform: translateX(10px) rotate(-45deg);
    transform: translateX(12px) rotate(-45deg);
}

@keyframes menu-hover {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* menu click function*/
.header-menu.is-active .header-menu-bar:nth-child(2) {
    opacity: 0;
}

.header-menu.is-active .header-menu-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.header-menu.is-active .header-menu-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.header-menu-text {
    display: block;
    float: right;
    margin-left: 10px;
}

.header-title {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-info {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    height: 65%;
    background-color: var(--light-blue-black);
    box-sizing: border-box;
    border-radius: 5px;
}

.user-info-nickname {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin: 0 30px;
    font-size: 18px;
    color: var(--blue-sky);
}

.user-info-image {
    float: right;
    height: 100%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}