@charset "utf-8";
@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    margin: 20vh auto;
    width: 60%;
    color: var(--dark-blue);
}

.main-container-header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    grid-row-gap: 3vh;
}

.title {
    grid-column: 1/3;
    font-family: Handon3gyeopsal600g, sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}

.hashtags {
    font-size: x-large;
    font-weight: bold;
    color: slategray;
}

.hashtags-item {
    display: inline-block;
    margin-left: 1vw;
}

.editor-container {
    margin-top: 5vh;
}

.tui-editor-contents {
    font-size: larger;
    font-family: Handon3gyeopsal300g, sans-serif;
}

.writer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.writer-image {
    position: relative;
    width: 5vw;
    border-radius: 50%;
    text-align: right;
    cursor: pointer;
}

.writer-name {
    font-size: x-large;
    margin-top: 1vh;
}

.comment-divider {
    margin-top: 5vh;
    border-top: 1px solid;
}

.comment-list {
    margin: 5vh auto;
    font-size: larger;
    box-sizing: border-box;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}

.writer-img {
    height: 10vh;
    border-radius: 50%;
}

.comment-content {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.small-triangle {
    display: inline;
    position: relative;
    top: 1vw;
    width: 2vw;
    height: 15px;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--blue-gray-white);
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
}

.comment-header {
    padding: 1vw;
    background-color: var(--blue-gray-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--dark-blue);
}

.comment-writer {
    font-family: Handon3gyeopsal600g, sans-serif;
}

.comment-date {
    margin-left: 1vw;
    font-size: medium;
}

.comment-text {
    padding: 1vw;
}

.date {
    text-align: right;
    font-size: medium;
    margin-top: 1vh;
}

.comment-input-container {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
}

.comment-input-container:after {
    display: block;
    content: '';
    clear: both;
}

.comment-input {
    border: 1px solid var(--dark-blue);
    min-height: 10vh;
    border-radius: 5px;
    padding: 1vw;
    outline: none;
    background-color: white;
    box-sizing: border-box;
}

.comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}


.comment-save-button,
.comment-approve-button {
    float: right;
    width: 5vw;
    margin-top: 2vh;
    line-height: 5vh;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
    background-color: var(--leaf);
    color: white;
    text-align: center;
    cursor: pointer;
    font-family: Handon3gyeopsal300g, sans-serif;
    font-size: medium;
}

.comment-approve-button {
    margin-right: 3vw;
    background-color: var(--light-sky);
}

.comment-save-button:after {
    display: block;
    content: '';
    clear: both;
}

.comment-approve-button:after {
    display: block;
    content: '';
    clear: both;
}

.page-control {
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.prev-page,
.next-page {
    position: relative;
    width: 20vw;
    height: 10vh;
    font-size: large;
    /*border: 1px solid var(--gray);*/
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 5px;
}

.prev-page {
    float: left;
}

.prev-page:hover {
    background-color: rgba(var(--light-pink-rgb), 0.5);
    color: var(--white);
}

.next-page:hover {
    background-color: rgba(var(--very-light-blue-rgb), 0.5);
    color: var(--white);
}

.prev-page-button,
.next-page-button {
    position: absolute;
    top: 50%;
    right: 7%;
    font-size: xxx-large;
    color: var(--light-blue-gray);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.prev-page-button {
    left: 7%;
}

.prev-page:hover .prev-page-button {
    color: var(--white);
    animation: prev-page-button-animation 1s ease-in-out 0s infinite forwards;
}


.next-page:hover .next-page-button {
    color: var(--white);
    animation: next-page-button-animation 1s ease-in-out 0s infinite forwards;
}

@keyframes prev-page-button-animation {
    to {
        transform: translate(-3%, -50%);
    }
    from {
        transform: translate(0, -50%);
    }
}

@keyframes next-page-button-animation {
    to {
        transform: translate(20%, -50%);
    }
    from {
        transform: translate(0, -50%);
    }
}

.prev-title,
.next-title {
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 10%;
    width: 65%;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.next-title {
    left: 10%;
    text-align: left;
}

.prev-description,
.next-description {
    position: absolute;
    width: 65%;
    right: 10%;
    bottom: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.next-description {
    left: 10%;
}

.next-page {
    float: right;
}

.page-control:after {
    display: block;
    content: '';
    clear: both;
}

.mouseover {
    transform: scale(1.01);
    z-index: 20;
}

.mouseover:hover .plus-buttons {
    opacity: 1;
}

.plus-buttons-container {
    position: relative;
}

.plus-buttons {
    position: absolute;
    top: 0;
    right: -2vw;
    width: 2vw;
    text-align: right;
    opacity: 0;
}

.plus-buttons-icon {
    font-style: normal !important;
    font-size: large;
    cursor: pointer;
}

.review-comment-container {
    position: absolute;
    top: 0;
    right: -19vw;
    width: 18vw;
    /*z-index: 5;*/
}

.review-comment-container:hover {
    z-index: 100;
}

.review-comment-header:before {
    display: block;
    position: absolute;
    z-index: -1;
    left: -5px;
    width: 10px;
    height: 10px;
    content: '';
    background-color: var(--blue-gray-white);
    transform: rotate(45deg);
}


.review-comment-content {
    width: 90%;
    background-color: var(--white);
    border-radius: 5px;
    box-sizing: border-box;
}


.review-comment-header {
    padding: 1vh 1vw;
    background-color: var(--blue-gray-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--dark-blue);
    font-size: medium;
}

.review-comment-writer {
    font-family: Handon3gyeopsal600g, sans-serif;
    font-size: medium;
}

.review-comment-date {
    margin-left: 1vw;
    font-family: Handon3gyeopsal300g, sans-serif;
    font-size: small;
    font-weight: normal;
}

.review-comment-buttons {
    float: right;
}

.review-comment-save {
    padding: 0 0.5vh;
}

.review-comment-reset {
    margin-left: 1vh;
    padding: 0 0.5vh;
}

.review-comment-input {
    min-height: 5vh;
    border-radius: 0 0 5px;
    padding: 1vh;
    font-size: medium;
    outline: none;
    box-sizing: border-box;
}

.review-comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}

.reviewers {
    position: absolute;
    top: 20vh;
    left: 3vw;
    width: 12vw;
    border-radius: 5px;
}

.reviewers-header {
    padding: 1vh;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px 5px 0 0;
}

.reviewers-title {
    display: inline-block;
    float: left;
    font-weight: normal;
}

.reviewers-edit-button {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.reviewers-edit-button.active {
    transform: rotate(180deg);
}

.reviewers-header:after {
    display: block;
    content: '';
    clear: both;
}

/*.reviewers-list,*/
.reviewers-selected-list,
.reviewers-unselected-list {
    position: relative;
    display: block;
    border: 1px solid var(--gray);
    border-radius: 0 0 5px 5px;
}

.reviewers-selected-list {
    border-radius: 0;
}

/*.reviewers-item,*/
.reviewers-selected-item,
.reviewers-unselected-item {
    padding: 5px;
    border-bottom: 1px solid var(--gray);
}

.reviewers-selected-item {
    background-color: var(--white);
}

.reviewers-selected-item,
.reviewers-unselected-item {
    cursor: pointer;
}

/*.reviewers-item:last-child,*/
.reviewers-selected-item:last-child,
.reviewers-unselected-item {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

/*.reviewers-item:hover,*/
.reviewers-selected-item:hover,
.reviewers-unselected-item:hover {
    background-color: var(--white);
    font-weight: bold;
}

/*.reviewers-item-img,*/
.reviewers-selected-item-img,
.reviewers-unselected-item-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.reviewers-edit {
    /*display: none;*/
    position: absolute;
    top: 4vh;
    width: 100%;
}

.reviewers-edit-title {
    font-weight: normal;
    font-size: small;
    padding: 1vh;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    display: none;
}

.reviewers-unselected-list {
    display: none;
}

.reviewers-edit-title.view {
    display: block;
}

.reviewers-unselected-list.view {
    display: block;
}