@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    width: 100%;
    margin-top: 15vh;
}

.title {
    position: relative;
    text-align: center;
}

.title-icon {
    width: 5vw;
}

.title-header {
    font-size: 5vw;
    color: var(--light-blue-black)
}

.title-footer {
    color: var(--gray)
}

.title-footer-texts {
    display: block;
    margin: 1vh 0;
}

.review-list {
    width: 70vw;
    margin: 10vh auto;
    border-radius: 5px;
    font-size: larger;
}

.category-buttons {
    width: 100%;
    height: 5vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.open-button {
    height: 100%;
    line-height: 5vh;
    vertical-align: middle;
    color: var(--dark-blue);
    background-color: var(--white);
    border-top-left-radius: 5px;
    cursor: pointer;
}

.close-button {
    height: 100%;
    color: white;
    line-height: 5vh;
    vertical-align: middle;
    background-color: var(--light-dark-sky);
    border-top-right-radius: 5px;
    cursor: pointer;
}

.review-items {
    background-color: white;
    width: 100%;
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
}

.review-items.close-checked {
    background-color: var(--light-dark-sky);
}

.search-box {
    display: inline-block;
    width: 70%;
    margin-left: 2vw;
    background-color: var(--gray-white);
    color: var(--blue-black);
    border-radius: 5px;
}

.search-icon {
    display: inline-block;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.search-input {
    display: inline-block;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    font-size: large;
    width: 85%;
    outline: none;
    background-color: var(--gray-white);
    color: var(--blue-black);
}

.create-button {
    display: inline-block;
    width: 20%;
    float: right;
    margin-right: 2vw;
    height: 100%;
    line-height: 5vh;
    vertical-align: middle;
    border: 1px solid var(--gray-white);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: var(--sky);
    cursor: pointer;
}

.create-button:hover {
    background-color: var(--gray-white);
}

.create-button.close-checked {
    /*border: none;*/
    /*background-color: var(--gray-white);*/
}

.create-button.close-checked:hover {
    /*background-color: var(--light-dark-sky);*/
}

.create-button-icon {
    position: relative;
    float: left;
    height: 100%;
    line-height: 5vh;
    vertical-align: middle;
    width: 3vw;
    text-align: center;
    color: white;
    background-color: var(--sky);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.divider {
    margin: 2vh auto 0 auto;
    width: 100%;
    border-top: 1px solid var(--gray-white);
}

.review-list-item {
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 95%;
    height: 10vh;
    margin: 2vh auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    border-radius: 5px;
    color: var(--dark-blue);
    background-color: var(--gray-white);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.review-list-item:hover {
    transform: scale(1.025);
}

.review-list-item-category {
    justify-self: right;
    border-radius: 1vw;
    color: white;
    padding: 1vh;
    width: 5vw;
    text-align: center;
}

.item-notice {
    background-color: var(--warning);
}

.item-question {
    background-color: var(--very-light-blue);
}

.item-chat {
    background-color: var(--very-light-orange);
}

.item-request {
    background-color: var(--dark-moderate-orenge);
}

.review-list-item-writer-img {
    height: 6vh;
    border-radius: 50%;
}

.review-list-item-date {
    justify-self: left;
    font-size: medium;
}